/* shared styles */
* {
    font-family: "Mulish", sans-serif;
    max-width: 1170px;
    margin: 0 auto;
}

.primary-color {
    color: #FF5400;
}

.primary-button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 35px;
    border: none;
}

.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 50px;

}

/* header section style start */

/* nav section style */
.logo-company-name {
    display: flex;
    align-items: center;
}

.company-name {
    font-size: 36px;
    font-weight: 800;
    margin-left: 17px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    padding-left: 45px;
}

.nav ul li>a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;

}

.nav ul li>a:hover {
    color: #FF5400;
}


/* banner section style */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/hero_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    margin-top: 50px;
    border-radius: 16px;
}

.banner-content {
    text-align: center;
    width: 676px;
    padding: 106px;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;

}

.banner-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: -30px;
}

.destination-info {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}

.desti-info-box {
    color: 19, 19, 24, 0.50;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 84px 16px 16px;
    border-radius: 8px;
    background: #FFF;
    border: none;

}

/* header section style end */

/* main section style start*/

/* popular tour section */
.popular-tours {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

/* choose your destination section style */
.destination-choice-content {
    text-align: center;
}

.row {
    width: 100%;
    height: auto;
}

/* main section style end*/










/* ------------------------------------------------------------------------------------------ */
/* media query */
/* ------------------------------------------------------------------------------------------ */

@media screen and (max-width:576px) {

    /* nav media query */
    .logo-company-name {
        display: flex;
        align-items: center;
    }

    .nav {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }

    .nav ul li {
        list-style: none;
        padding-left: 20px;
        margin-top: 10px;
    }

    /* banner media query */
    .banner {
        border-radius: 16px;
        margin: 20px;

    }

    .destination-info {
        display: flex;
        flex-direction: column;
        margin-top: 4px;
        gap: 15px;
    }

    .banner-title {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;

    }

    .banner-description {
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
    }

    .banner-content {
        width: 304px;
        padding: 30px;
    }

    .destination-info {

        margin: 24px;
    }

    .desti-info-box {
        padding: 15px;
        width: 70%;
    }

    .primary-button {
        width: 80%;
        margin-bottom: 10px;
    }

    /* popular tour section */
    .popular-tours {
        flex-direction: column;
        margin: 24px;
    }

    /* choose your destination section media query */
    .destination-choice-content {
        text-align: center;
    }

    .row {
        width: 100%;
        margin: 24px;
    }

}