/* shared styles */
* {
    font-family: "Mulish", sans-serif;
    max-width: 1170px;
    margin: 0 auto;
}

.primary-color {
    color: #FF5400;
}

.primary-button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 35px;
    border: none;
}

.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 50px;

}

/* header section style start */

/* nav section style */
.logo-company-name {
    display: flex;
    align-items: center;
}

.company-name {
    font-size: 36px;
    font-weight: 800;
    margin-left: 17px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    padding-left: 45px;
}

.nav ul li>a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;

}

.nav ul li>a:hover {
    color: #FF5400;
}


/* banner section style */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/hero_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    margin-top: 50px;
    border-radius: 16px;
}

.banner-content {
    text-align: center;
    width: 676px;
    padding: 106px;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;

}

.banner-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: -30px;
}

.destination-info {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}

.desti-info-box {
    color: 19, 19, 24, 0.50;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 84px 16px 16px;
    border-radius: 8px;
    background: #FFF;
    border: none;

}

/* header section style end */

/* main section style start*/

/* popular tour section */
.popular-tours {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

/* choose your destination section style */
.destination-choice-content {
    text-align: center;
}

.row {
    width: 100%;
    height: auto;
}

/* why choose us style */
.why-choose-us-content {
    text-align: center;
    margin-top: 100px;
}

/* cards */
.why-choose-us-card {
    display: flex;
    gap: 24px;
}

.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}

.card-3 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    margin-left: 298px;
    width: 573px;
    margin-top: 24px;
}

.card-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}

.card-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

/* deals and discount style */
.deals-discount-contant {
    text-align: center;
    margin-top: 100px;
}

.deals-schedule {
    display: flex;
}

.deals-schedule p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;

}

.deals-banner-1 {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    background-image: url(../Images/Group\ 39.png);
    background-size: cover;
    width: 100%;
    height: 500px;
}

.deals-content-1 {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    width: 579px;
    margin-top: 24px;
    margin-left: 400px;

}

.deals-content-2 {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    width: 579px;
    margin-top: 24px;
    margin-top: 24px;
    margin-right: 400px;
}

.deals-banner-2 {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    background-image: url(../Images/Group\ 40.png);
    background-size: cover;
    width: 100%;
    height: 500px;
}

.deals-content-1 h3,
p,
h4 {
    margin-bottom: 16px;
}

.deals-content-2 h3,
p,
h4 {
    margin-bottom: 16px;
}

#all-package-button {
    margin: 10px 500px;
    width: 20%;
}

/* main section style end*/










/* ------------------------------------------------------------------------------------------ */
/* media query */
/* ------------------------------------------------------------------------------------------ */

@media screen and (max-width:576px) {

    /* nav media query */
    .logo-company-name {
        display: flex;
        align-items: center;
    }

    .nav {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }

    .nav ul li {
        list-style: none;
        padding-left: 20px;
        margin-top: 10px;
    }

    /* banner media query */
    .banner {
        border-radius: 16px;
        margin: 20px;

    }

    .destination-info {
        display: flex;
        flex-direction: column;
        margin-top: 4px;
        gap: 15px;
    }

    .banner-title {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;

    }

    .banner-description {
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
    }

    .banner-content {
        width: 304px;
        padding: 30px;
    }

    .destination-info {

        margin: 24px;
    }

    .desti-info-box {
        padding: 15px;
        width: 70%;
    }

    .primary-button {
        width: 80%;
        margin-bottom: 10px;
    }

    /* popular tour section */
    .popular-tours {
        flex-direction: column;
        margin: 24px;
    }

    /* choose your destination section media query */
    .destination-choice-content {
        text-align: center;
    }

    .row {
        width: 100%;
        margin: 24px;
    }

    /* why choose us media query */
    .why-choose-us-card {
        flex-direction: column;
        gap: 24px;
    }

    .card-1 {
        margin-left: 24px;
        margin-right: 24px;
        width: 335px;
    }

    .card-2 {
        margin-left: 24px;
        margin-right: 24px;
        width: 335px;
    }

    .card-3 {
        margin-left: 24px;
        margin-right: 24px;
        width: 335px;
    }

    /* deal and discount media query */
    .deals-banner-1 {
        width: 500px;
        height: 500px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        background-image: url(../Images/Group\ 39.png);
        background-size: cover;
    }

    .deals-content-1 {
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        padding: 20px;
        width: 303px;
        height: 380px;
        margin-top: 50px;
        margin-left: 90px;

    }

    .deals-banner-2 {
        width: 500px;
        height: 500px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        background-image: url(../Images/Group\ 39.png);
        background-size: cover;
    }

    .deals-content-2 {
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        padding: 20px;
        width: 303px;
        height: 380px;
        margin-top: 50px;
        margin-left: 90px;

    }

    #all-package-button {
        margin-left: 150px;
        margin-top: 20px;
        width: 50%;
    }

}